:root {
  --color-primary: #2fbf9f;
  --color-primary-hover: #27ab8e;
  --color-surface: #f2f2f2;
  --color-surface-dark: #ebebeb;
  --color-text: #111111;
  --color-border: #cccccc;
  --color-border-strong: #aaaaaa;
}

* {
  /*font-family: 'Open Sans', sans-serif;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .custom-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .custom-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1600px;
  }
}

.custom-navbar-banner {
  font-size: 16px;
  height: 28.125em;
}